.nav {
     font-family: 'Roboto', sans-serif;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: rgb(26, 46, 46);
     color: white;
     padding: 5px 10px;
     margin: 0;
}

body { 
    margin: 0;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: white
    

}

li {
    margin: 10px;
    list-style-type: none;

}

li a { 
    text-decoration: none;
    color: white;
}

button {
    background-color: rgb(32, 32, 158);
    color: white;
    box-shadow: 10px 5px 5px black;
    font-family: 'Roboto', sans-serif; 
    padding: 10px;
    border: 2px black solid;
    font-size: inherit;
    text-align: center;
}
