.col, .col-2, .col-3 {
    height: 50px;
    background-color: green;
    margin: 5px;
    flex: 1;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-top: 5px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.col-2 { 
    flex: 2;
}
 
.col-3 { 
    flex: 3;
}